@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="col-md-4 col-sm-4">
        <div class="card shadow-none border border-light-secondary">
            <div class="card-body text-center">
                <img  src="~/img/stocks_96px.png"/>

                <h3 class="card-title">
                    <a asp-controller="Lines" asp-action="Index">
                        Line Graphs
                    </a>
                </h3>
            </div>

        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="card shadow-none border border-light-secondary">
            <div class="card-body text-center">
                <img  src="~/img/bar_chart_96px.png"/>

                <h3 class="card-title">
                    <a asp-controller="Lines" asp-action="Index">
                        Bar Graphs
                    </a>
                </h3>
            </div>

        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="card shadow-none border border-light-secondary">
            <div class="card-body text-center">
                <img  src="~/img/doughnut_chart_96px.png"/>

                <h3 class="card-title">
                    <a asp-controller="Lines" asp-action="Index">
                        Pie Charts
                    </a>
                </h3>
            </div>

        </div>
    </div>
</div>